<head>
  <title>coffeeGang</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
</head>
<body>
</body>

<template name="mainLayout">
  <div class="container col-md-8 col-md-offset-2 col-xs-12">
    <header class="row">
      <a href="/"><h1>Coffee Gang ({{username}})</h1></a>
      {{#if adminView}}<button class="btn btn-primary" id="logout-btn">Logout</button>{{/if}}
        <label class="show-inactive">
          <input type="checkbox" checked="{{showInactive}}" />
          Show Inactive Members
        </label>
      {{#if adminView}}
        <form class="new-member">
          <input class="form-control" type="text" name="name" placeholder="Type to add new member" />
        </form>
      {{else}}
        <form class="to-admin">
          <input class="form-control" type="password" name="password" placeholder="Type in admin password" />
        </form>
      {{/if}}
    </header>
    <div class="">
      {{> yield}}
    </div>
  </div>
</template>

<template name="members">
  <ul>
    {{#each members}}
      {{#if adminView}}
        {{> memberRowAdmin}}
      {{else}}
        {{> memberRow}}
      {{/if}}
    {{/each}}
  </ul>
</template>

<template name="memberRow">
  <a href="/members/{{name}}"><li class="member row {{#if inactive}}inactive{{/if}}">
    <div class="col-md-8 col-xs-6">
      <span class="text name">{{name}}</span>
    </div>
    <div class="col-md-4 col-xs-6">
      <div class="time small">
      <span class="text">{{lastCoffeeDate}}</span>
      <span class="text badge">{{lastCoffeeDaysSince}}</span>
      </div>
    </div>
  </li></a>
</template>

<template name="memberRowAdmin">
  <a href="/members/{{name}}"><li class="member row {{#if inactive}}inactive{{/if}}">
    <div class="col-md-2 col-xs-12">
      <input type="checkbox" checked="{{active}}" class="toggle-active" />
      <button class="coffee"><i class="fa fa-coffee"></i></button>
      <button class="delete"><i class="fa fa-trash-o"></i></button>
    </div>
    <div class="row col-md-10 col-xs-12">
      <div class="col-md-8 col-xs-6">
        <span class="text name col-md-6">{{name}}</span>
      </div>
      <div class="col-md-4 col-xs-6">
        <div class="time small">
        <span class="text">{{lastCoffeeDate}}</span>
        <span class="text badge">{{lastCoffeeDaysSince}}</span>
        </div>
      </div>
    </div>
  </li></a>
</template>

<template name="member">
  <div class="row" style="font-size: 85px; color: #fee407; text-align: center;">
    <div class="col-md-4">{{name}}</div>
    <div class="col-md-4" style="color: #001245; background-color: #fee407;">{{lastCoffeeDaysSince}} d Since Last</div>
    <div class="col-md-4">
      <ul class="row">
        {{#each dates}}
          <li class="col-md-12 large" style="font-size: 50px; list-style: none; color: #fee407;">{{dateToString}}</li>
        {{/each}}
      </ul>
    </div>
  </div>
  
</template>
