<head>
  <title>coffeeGang</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600' rel='stylesheet' type='text/css'>
  <link href="//netdna.bootstrapcdn.com/font-awesome/3.1.1/css/font-awesome.css" rel="stylesheet">
</head>
<body>
</body>

<template name="masterLayout">
  <div id="mainLayoutContainer">{{> mainLayout}}</div>
  {{> newMemberForm}}
  {{> emailForm}}
</template>

<template name="mainLayout">
  <div class="container col-md-8 col-md-offset-2 col-xs-12">
    <header class="row">
      <a href="/"><h1>Coffee Gang 2.0 ({{username}})</h1></a>
    </header>
    <div id="navbar" class="row navbar navbar-default " role="navigation">
      <ul id="navbar-ul" class="nav navbar-nav">
        <li><div class="show-inactive">
          <i class="fa fa-user-times {{#if showInactive}}checked{{/if}}"></i>
          <span class="nav-detail">Show Inactive Members</span>
        </div></li>
        {{#if adminView}}
          <li class="admin-btn"><div data-toggle="modal" data-target="#newMemberModal">
            <i class="nav-icon fa fa-user-plus"></i>
            <span class="nav-detail">Add Member</span>
          </div></li>
          <li class="admin-btn"><div id="logout-btn">
            <i class="nav-icon fa fa-sign-out"></i>
            <span class="nav-detail">Logout</span>
          </div></li>
        {{else}}
          <li><div>
            <i class="nav-icon fa fa-sign-in"></i>
            <form class="nav-detail to-admin">
              <input id="to-admin-input" class="form-control" type="password" name="password" placeholder="Log in with admin password" />
            </form>
          </div></li>
        {{/if}}
        <li><div data-toggle="modal" data-target="#emailModal">
          <i class="nav-icon fa fa-envelope-o"></i>
          <span class="nav-detail">Email {{dueMember}}</span>
        </div></li>
      </ul>
    </div>
    <div class="">
      {{> yield}}
    </div>
  </div>
</template>